<h1 class="text-center"> Messages <%= link_to "", new_message_path, class: "fa fa-plus-circle new-btn" %></h1>

<main>
  <ul>
    <% Message.all.uniq.pluck(:subject, :body, :section_id).each do |message| %>
      <li> <%= Section.find_by_id(message[2]).name %> : <%= message[0] %> - <%= message[1] %></li>
    <% end %>
  </ul>
</main>


