// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$orange: #E67E22;
$green: #32B796;
$gray: #D1D1D1;


// theme colors
$yellow: #EAB63F;
$light-yellow: #FFDB9E;
$light-gray: #EEEEEE;
$brown: #474341;
$black: #0F0F0F;
$white: #FFFFFF;
