<p>Dear Mr <%= @user.profile.last_name %>,</p>

<p>We are glad to welcome your child in our movement for this year.</p>

<p>@user.email</p>
<p>@invoice.title</p>

<p>Scoutement vôtre,</p>
<p>Le Staff d'Unité</p>
