<a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#search-by-title"><i class="fa fa-search" aria-hidden="true"></i></a>

<div class="modal fade" id="search-by-title" tabindex="-1" role="dialog" aria-labelledby="search-by-title" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Search by title</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for :global_search do |f| %>
        <%= f.input :query , placeholder:"title", label: false, collection: Invoice.uniq.pluck(:title) %>
        <%= f.submit "Search", class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

