<a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#search-by-status"><i class="fa fa-search" aria-hidden="true"></i></a>

<div class="modal fade" id="search-by-status" tabindex="-1" role="dialog" aria-labelledby="search-by-status" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Search by status</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for :global_search do |f| %>
        <%= f.input :query , placeholder:"status", label: false, collection: Invoice.uniq.pluck(:status), input_html: { id: 'invoice_search_input' } %>
        <%= f.submit "Search", class: "btn large", id: 'invoice_searc_button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

