// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

html {
  height: 100%;
}

body {
  color: $black;
  background: $light-gray;
  min-height: 100%;

}

.container {
  width: 100%;
}
