    <div class="row__inner">
<!-- faut ajouter la loop sur les photos -->
    <% Album.last(4).each do |album|
      album.photos.last(7).each do |photo| %>
      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src=<%= cl_image_path photo.path %> alt=""  />
        </div>
      </div>
     <% end %>
     <% end %>



    </div>

