<div class="footer">
  <div class="footer-links">
    <%= link_to "About us", about_path, id: "fabout"%>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-cog fa-spin fa-2x fa-fw"></i> by  <i class="fa fa-hacker-news fa-2x"></i> <i class="fa fa-amazon fa-lg"></i> <i class="fa fa-skype fa-lg"></i> <i class="fa fa-scribd fa-lg"></i>
  </div>
</div>