<div class="container" id="pendingcontainer">
  <div class="pendingbox text-center" >
    <h1>Sorry, your request of admission is still being processed</h1>
    <hr>
    <p>be sure to check your emails for news from us!</p>
    <h2>hope to see you soon!</h2>
  </div>
  </div>
