<div class="area"></div><nav class="main-menu">
  <ul>
      <li>
          <a href="#">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                  Dashboard
              </span>
          </a>

      </li>
      <li class="has-subnav">
        <%= link_to profiles_path do%>
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
              Users
          </span>
        <% end %>

      </li>
      <li class="has-subnav">
        <%= link_to invoices_path do%>
          <i class="fa fa-eur fa-2x"></i>
          <span class="nav-text">
              Invoices
          </span>
        <% end %>

      </li>
      <li class="has-subnav">
          <%= link_to events_path do%>
             <i class="fa fa-calendar fa-2x"></i>
              <span class="nav-text">
                  Calendar
              </span>
              <% end %>
          </a>

      </li>
      <li>
          <a href="#">
              <i class="fa fa-envelope-o fa-2x"></i>
              <span class="nav-text">
                  Messages
              </span>
          </a>
      </li>
      <li>
         <a href="#">
             <i class="fa fa-cog fa-2x"></i>
              <span class="nav-text">
                  Settings
              </span>
          </a>
      </li>
      <li>
          <a href="#">
             <i class="fa fa-info fa-2x"></i>
              <span class="nav-text">
                  About
              </span>
          </a>
      </li>
  </ul>

  <ul class="logout">
      <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                  Logout
              </span>
          <% end %>
      </li>
  </ul>
</nav>
