<div class="container taboo" >
  <div class="adminimg text-center"> <img src="<%=  image_path("baden.gif") %>" alt=""></div>
  <div class="pendingbox text-center" >
    <h1>OOOOPS LOOKS THAT THIS IS A TABOO ZONE</h1>
    <hr>
    <p>Please go play with the other children</p>
    <%= link_to "go back", profile_path(current_user.profile), class: "new-btn" %>
  </div>
  </div>
