<h1><%= @event.name %></h1>

<div class="form-group btn-div">
  <%= link_to 'Edit the event info', edit_event_path, class: "btn btn-primary" %>
  <%= link_to 'Back to all events', events_path, class:"btn btn-primary" %>
</div>
