<%= link_to "all albums", albums_path, class: "btn btn-primary" %>

<div class="container">
<div class="flexbin flexbin-margin">
  <% @album.photos.each do |photo|  %>
  <a href="#">
    <img src=<%= cl_image_path photo.path %>>
  </a>
  <% end %>
</div>


</div>
