.about-page {
    width: 105%;
  height: 100%;
    background-size: cover !important;
    margin-left: -60px;

    h1{
        text-align: center;
        font-size: 80px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    
    }
}
.about {
      background: $yellow;
      margin: -40px -15px 0px -15px;
      padding : 15px;
      color: white;

}

.team {
      background: $yellow;
      margin: -40px -15px 0px -15px;
      padding : 15px;
      color: white;
}

.about h1 {
    margin-bottom: 0px;
}

.mission, .vision, .values{
    padding: 0px 50px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    max-height: 400px;
}

.main-content {
    min-height: 300px;
}

.profile {
    display: flex !important;
    grid-template-columns: 350px 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    height: calc(100vh - 200px);
    background: $yellow;
    max-height:390px;

}

.profile-content {
    flex: 1;
    min-height: 400px;
}

.text-center {
    text-align: center;
}

.icon {
    height: 100px;
    width: 115px;
    margin-left: 10px;
    background-color: white;
    border-radius: 50%;
}

.f-about {
    text-decoration: none;
}

.about-page .container {
    background: white;
    color: $yellow;
    min-height: 0;
    padding: 0px 50px 50px 50px;
    margin: -30px -15px;
    padding-left: 0px !important;
    width: 102.5%;
}

.container .service{
    height:100px;
    width:100px;
    background-color: white;
    border-radius: 20%;
    padding: 20px;
}

.row {
 padding-left: 60px;

}

#profile {
    background-color: white;
}

#team {
    
    padding: 15px 15px 0px 15px; 
    background-color: white;
    color: $yellow;

    .icon {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

 .mission, .vision, .values {
     padding: 0px;
    }
}