#albums-index{

  h1{
    display: flex;
    justify-content: space-between;
  }
  .albums {
    display: flex;
    flex-wrap:wrap;
  }
  .album {
   flex: 0 0 32%;
   margin: 5px;
  }
  .album-body {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #B3B3B3;
  }
  .album-picture {
    height: 150px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .album-likes {
    color: #B3B3B3;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .album-likes li {
    padding: 0 5px;
  }
  .album-likes i {
    padding-right: 5px;
  }
  .album-footer {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  .album-footer img {
    border-radius: 50%;
    margin-right: 10px;
  }
  .album-footer a {
    color: #3a8bbb;
    font-weight: bold;
  }
  .album-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .album-picture:hover .album-hover {
    opacity: 1;
  }

  .album-select {
    position: absolute;
    left: 150px;
    top: 200px;
  }

  #search-btn {
    width: 70px;
    height: 41px;
    border-radius: 5px;
    background-color: $yellow;
    opacity: 1;
    color:white;
  }


  #search-btn:hover {
    opacity: 0.8;
  }


  #album {
        height: 40px;
      background-color: white;
  }

  .btn-album-show {
    display: flex;

     h4 {
      margin: 5px 0px 0px 3px;
      font-size: 15px;
      color: $yellow;
     }
  }

  #btn-back {
    font-size: 25px;
    color: $yellow;
    padding-left: 10px;
    text-decoration: none;
  }

  #btn-delete{
    display: flex;
    position: absolute;
    top: 80px;
    right: 27px;
    color: red;
    opacity: 0.8;
    text-decoration: none;

    #icon-delete {
      font-size: 25px;
      color:red;
      text-decoration: none;
    }

    h4 {
          padding-right: 4px;
      color: red;
    }
  }

}
