.simple-calendar {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  font-family: 'Lato', sans-serif;
  background-color: #F5F1E9;

  .calendar-heading{
    width: 100%;
    height: 68.5714px;;
    text-align: center;
    background-color: $yellow;
    padding: 18px 0;
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 12px 0px 0px;
    display: flex;
      justify-content: space-around;
    }
  .calendar-heading .calendar-title{
    font-size: 1.5em;
    color: #FFFFFF;
    float: left;
    width: 70%;
  }

  .calendar-heading a{
    font-size: 1em;
    color: #FFFFFF;
    width: 70%;
    padding-top: 5px;
  }
  thead {
    color: $brown;
    width: 68.5714px;
    height: 68.5714px;
    line-height: 68.5714px;
  }
  th {
    text-align: center;
  }
  .day {
    width: 68.5714px;
    height: 68.5714px;
    text-align: center;
    background-color: #FFFFFF;
    color: #787878;
  }

  .today {
    background-color: $yellow;
  }
}
