#user-dashboard{
  font-family: $body-font;
  color: $brown;
  text-align: center;
  h5{
    text-align: left;
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    margin: 0px;
  }
  .avatar-large{
    background-color: $gray;
    display: inline-block;
    margin-top: -80px;
  }
  #body-box{
    display: flex;
  }
  #bbox1{
    flex: 1;
  }
  #bbox2{
    flex: 2;
  }
  #bbox21{
    display: flex;
  }
  #bbox211{
    flex: 3;
  }
  #bbox212{
    flex: 2;
  }
  #headers-box{
    display: flex;
    margin-top: 30px;
  }
  #hbox1{
    flex: 5;
  }
  #hbox2{
    flex: 6;
  }
  #hbox3{
    flex: 4;
  }

  .card{
    height: 100%;
    margin: 0px 10px 20px 10px;
    padding: 10px;
    background: #fff;
    position: initial;
  }

  .profile-db{
    height: 520px;
    p{
      margin-bottom: 10px;
    }
    .edit-btn .fa{
      background-color: $yellow;
      color: $white;
      border-radius: 50%;
      padding: 7px;
      font-size: 20px;
      position: relative;
      right: -40%;
    }
    .card-body{
      padding: 10px;
    }
  }

  .calendar-db{
    padding: 10px;
    min-height: 278px;
  }

  .events-db{
    min-height: 278px;
    table{
      font-size: 12px;
      font-family: $body-font;
    }
    tbody{
      overflow-y: scroll;
    }
  }

  .invoices-db{
    min-height: 181px;
    table{
      font-size: 12px;
      font-family: $body-font;
    }
    tbody{
      overflow-y: scroll;
    }
  }

  .calendar-db .simple-calendar {
    margin-left: auto;
    margin-right: auto;
    font-family: $headers-font;
    background-color: #F5F1E9;
    height: 100%;
    width: 100%;

    .calendar-heading{
      width: 100%;
      height: 10%;
      text-align: center;
      background-color: $yellow;
      padding: 0;
      display: flex;
      justify-content: space-around;
      }
    .calendar-heading .calendar-title{
      font-size: 16px;
      color: #FFFFFF;
      float: left;
      width: 70%;
      text-transform: uppercase;
    }

    .calendar-heading a{
      font-size: 1em;
      color: #FFFFFF;
      width: 70%;
      padding-top: 5px;
    }
    thead {
      color: $brown;
      font-size: 11px;
      height: 30px;
    }
    th {
      text-align: center;
    }
    .day {
      width: fit-content;
      height: 30px;
      text-align: left;
      background-color: #FFFFFF;
      color: #787878;
      font-size: 10px;
    }
     .has-events{
        transition: all .3s ease-in-out;
    }

    .has-events:hover{
        transform: scale(3.1);
        background-color:#F5F1E9;
        box-shadow: 1px 1px 2px #B3B3B3;
        border-radius:5px;
    }

    #circle{
      background-color:rgb(145, 7, 7);
      border-radius: 50%;
      width: 8px;
      height: 8px;
    }
    #hover-content {
        display:none;
        opacity:0;
        -webkit-transition:.5s;
        -moz-transition:.5s;
        -o-transition:.5s;
        -ms-transition:.5s;
        transition:.5s;
    }
    .has-events:hover #hover-content {
        display:block;
        opacity:1;
        padding:0px;
        margin:0px;
    }
    .has-events:hover #circle{
      opacity:0;
    }
    .today {
      background-color: $yellow;
    }
    .table .table-striped{
      margin-bottom: 0px;
      height: 100%;
    }
  }

}
