.footer {
  width: 100%;
  height: 50px;
  background: $brown;
  font-family: $body-font;
  font-weight: lighter;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: $light-gray;
  font-size: 11px;
  position: relative;
  bottom: 0;
  .fa{
    font-size: 20px;
  }
}
.footer-links {
  padding-left: 10px;
  display: flex;
  align-items: center;

}
.footer-links a {
  color: $light-gray;
  text-decoration: none;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $yellow;
  opacity: 1;
}
.fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before {
  padding-left: 5px;
}
.footer-copyright{
  min-width: 350px;
}

#fabout {
  font-size: 15px;
    margin-top: 6px;
    padding-left: 0px !important;
    text-decoration: none !important;
    color: #EEEEEE;
}