.footer {
  width: 100%;
  height: 50px;
  background: $brown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: $light-gray;
  font-size: 11px;
   position: absolute;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
 color: $light-gray;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $yellow;
 opacity: 1;
}
.footer .fa-heart{
  color: #D23333;
}

.fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before {
    padding-left: 5px;
}