/*form styles*/
#msform {
  	width: 400px;
  	margin: 50px auto;
  	text-align: center;
  	position: relative;

  #msform fieldset {
  	background: white;
  	border: 0 none;
  	border-radius: 3px;
  	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  	padding: 20px 30px;
  	box-sizing: border-box;
  	width: 80%;
  	margin: 0 10%;
    font-family: $body-font;

  	/*stacking fieldsets above each other*/
  	position: relative;
  }
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
  	display: none;
  }
  /*inputs*/
  #msform input, #msform textarea {
  	padding: 15px;
  	border: 1px solid #ccc;
  	border-radius: 3px;
  	margin-bottom: 10px;
  	width: 100%;
  	box-sizing: border-box;
  	font-family: $body-font;
  	color: #2C3E50;
  	font-size: 13px;
  }
  /*buttons*/
  #msform .action-button {
  	width: 100px;
  	background: $yellow;
  	font-weight: bold;
  	color: white;
  	border: 0 none;
  	border-radius: 1px;
  	cursor: pointer;
  	padding: 10px 5px;
  	margin: 10px 5px;
  }
  #msform .action-button:hover, #msform .action-button:focus {
  	box-shadow: 0 0 0 2px white, 0 0 0 3px $yellow;
  }
  /*headings*/
  .fs-title {
  	font-size: 15px;
  	text-transform: uppercase;
  	margin-bottom: 10px;
  }
  .fs-subtitle {
  	font-weight: normal;
  	font-size: 13px;
  	color: #666;
  	margin-bottom: 20px;
  }
  /*progressbar*/
  #progressbar {
  	margin-bottom: 30px;
  	overflow: hidden;
  	/*CSS counters to number the steps*/
  	counter-reset: step;
  }
  #progressbar li {
  	list-style-type: none;
  	color: white;
  	text-transform: uppercase;
  	font-size: 9px;
  	width: 33.33%;
  	float: left;
  	position: relative;
  }
  #progressbar li:before {
  	content: counter(step);
  	counter-increment: step;
  	width: 20px;
  	line-height: 20px;
  	display: block;
  	font-size: 10px;
  	color: #333;
  	background: white;
  	border-radius: 3px;
  	margin: 0 auto 5px auto;
  }
  /*progressbar connectors*/
  #progressbar li:after {
  	content: '';
  	width: 100%;
  	height: 2px;
  	background: white;
  	position: absolute;
  	left: -50%;
  	top: 9px;
  	z-index: -1; /*put it behind the numbers*/
  }
  #progressbar li:first-child:after {
  	/*connector not needed before the first step*/
  	content: none;
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,  #progressbar li.active:after{
  	background: $yellow;
  	color: white;
  }

  .form-control {
  	color: #575757;
  }
  .submit-btn .btn{
    text-transform: uppercase;
    background-color: $yellow;
    border-color: $yellow;
  }
  .form-fields label{
    font-family: $body-font;
    color: $brown;
  }
  abbr{
    text-decoration: none;
  }
  label:before{
    content: none !important;
  }


  #messages {
    max-width: 800px;
    margin-bottom: 0px;
  }

  #messages thead {
    tr{
      display:inline-flex;
       th {
        text-align: center;
      }

    }
  }

 #messages tbody {
    
    border-top: 1px solid #ddd; 
    max-height: 200px;       
    display: inline-block;
    width: 100%;
    overflow-y:scroll;

    tr {
      text-transform: capitalize;
      border-top: 1px solid #ddd;
    }
    tr:hover {
    background-color:#f5f5f5;
    opacity: 0.9;
   }
  }


  #sms {
    padding-left: 230px;
  }

  #messages td, th {
          padding: 10px 15px 10px 16px;
          opacity: 0.8;
  }

  #plus {
    position:relative;
    left: 670px;
    color:$yellow;
    text-decoration: none;
    padding: 0px;
    opacity: 1;
  }
}
