// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "avatar";
@import "banner";
@import "footer";
@import "new-profile";
@import "tabs";
@import "sidebar";
@import "signup";

.container {
	min-height:92.5vh;
}

.container {
    width: 100%;
    padding-left: 75px;
    padding-top: 80px;
}
