// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "avatar";
@import "banner";
@import "footer";
@import "forms";
@import "tabs";
@import "sidebar";
@import "checkbox";
@import "login";
@import "calendar";
@import "about";
@import "album";
@import "new_modal";
@import "flexbin";
@import "carousel";
@import "profiles";
@import "pending";

.container {
	min-height:92.5vh;
}

.container {
    width: 100%;
    padding-left: 75px;
    padding-top: 80px;
  .taboo{
   padding-top: 45px;
  }
}

.profile .main {
    grid-row: 1 / span 2;
}

